@font-face {
    font-family: main;
    src: url(./FeFCrm2.ttf);
}
.titles{
    font-size: 500%;
    font-family: main;
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5); */
    color: whitesmoke;
    text-align: center;
}
body.index{
    background-image: url(./images/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  inset 0 0 0 1000px rgba(0,0,0,.5);


}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
    font-family: main;
    font-size: 30px;

}
.pos{
    position: absolute;
    left: 2rem;
    top: -1.2rem;
    
}

li{
    float: left;
    top: auto;
    left: auto;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
nav{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
.posi{
align-content: space-between;
padding-left: 12%;
padding-bottom: 50px;
}
.fest{
    size: 50rem;
display: flex;
justify-content: flex-start;
display: inline-block;
}
img.christ{
    border-radius: 25px;
    border: burlywood 8px solid;
}
.re{
    size: 50rem;
    display: flex;
    justify-content: flex-end; 

    display: inline-block;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    flex-shrink: 0;
    font-weight: bold;
    font-family: main;
    color: white;

}

footer a{
    color: white;
}
div.container{
    display: grid;
    gap: 150px 10px;
    width: fit-content;
    grid-template-columns: [first] 1fr [line2] 1fr [line3];
    grid-template-rows: [one] 1fr [two] 1fr [three];
    justify-items: stretch;
    align-items: center;

}
.item-1{

    grid-column: first;
    grid-row: one;
    height: 500px; width: 550px;
}
.item-2{
        grid-column: line2;
        grid-row: one;
        height: 500px; width: 550px;
}
.item-3{

        grid-column: line3;
        grid-row: one;
        height: 500px; width: 550px;
}
.item-4{
        grid-column: first;
        grid-row: two;        
        height: 500px; width: 550px;
}
.item-5{

    grid-column: line2;
    grid-row: two;
    height: 500px; width: 550px;
}
.item-6{
    grid-column: line3;
    grid-row: two;        
    height: 500px; width: 550px;
}
.item-7{
    grid-column: first;
    grid-row: three;        
    height: 500px; width: 550px;
}
.item-8{

grid-column: line2;
grid-row: three;
height: 500px; width: 550px;
}
.item-9{
grid-column: line3;
grid-row: three;        
height: 500px; width: 550px;
}
p{
    font-family: main;
    color: wheat;
    font-size: small;
}
h5{
    font-family: main;
    color: wheat;  
}